<section class="home-page-section">
  <anime-carousel
    title="spring anime season"
    [animeList]="animeFeedStore.data()?.popularOngoings"
    [isLoading]="animeFeedStore.isLoading()"
  />
</section>

<section class="home-page-section home-page-section-scrollables">
  <anime-scrollable-block
    title="newest anime"
    [animeList]="animeFeedStore.data()?.newest"
  />

  <anime-scrollable-block
    title="most popular anime"
    [animeList]="animeFeedStore.data()?.mostPopular"
  />

  <anime-scrollable-block
    title="popular ongoings"
    [animeList]="animeFeedStore.data()?.popularOngoings"
  />
</section>
