@let animeFeedStoreData = animeFeedStore.data();
<section class="home-page-section">
  <anime-carousel
    title="spring anime season"
    [animeList]="animeFeedStoreData?.popularOngoings"
    [isLoading]="animeFeedStore.isLoading()"
  />
</section>

<section class="home-page-section home-page-section-scrollables">
  <anime-scrollable-block
    title="newest anime"
    [animeList]="animeFeedStoreData?.newest"
  />

  <anime-scrollable-block
    title="most popular anime"
    [animeList]="animeFeedStoreData?.mostPopular"
  />

  <anime-scrollable-block
    title="popular ongoings"
    [animeList]="animeFeedStoreData?.popularOngoings"
  />
</section>
