@let animeItem = anime();
<div class="anime-item">
  <img
    [routerLink]="['/anime', animeItem.id]"
    [src]="animeItem.posters.medium"
    [alt]="animeItem.title"
    fallback="assets/images/no-poster.png"
    class="anime-grid-item-img"
  />
  <div class="dropdown-menu-container">
    <anime-list-dropdown-menu [animeId]="animeItem.id" />
  </div>

  <div class="anime-info-container">
    <span class="anime-info-badge anime-info-badge-first">{{ 0 }}</span>
    <span class="anime-info-badge">{{ animeItem.score }}</span>
  </div>
</div>
<h4 [routerLink]="['/anime', animeItem.id]" class="anime-title">
  {{ animeItem.title }}
</h4>
