<h2 class="filter-heading">Filter</h2>

<div class="filter-selects-container">
  @for (singleSelect of singleSelects(); track $index) {
    <filter-block-single-select
      [filterData]="singleSelect"
      placeholder="-"
      (selectionChange)="onSingleSelectChange($event)"
    />
  }
</div>

@for (multipleSelect of multipleSelects(); track $index) {
  <filter-block-multiple-select
    [filterData]="multipleSelect"
    (selectionChange)="onMultipleSelectChange($event)"
  />
}

<button class="filter-button" (click)="emitFilters()">Filter</button>
