@use "variables" as *;

@mixin responsive-container {
  width: 100%;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "sm" {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $breakpoint == "md" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint == "lg" {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == "xl" {
    @media (min-width: 1280px) {
      @content;
    }
  }
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin bulk-container {
  box-shadow: $shadow-cool;
  margin: 10px;
  border-radius: $rounded-lg;
}
