@let userInfo = user();
<div class="profile-sidebar-header">
  <user-profile-sidebar-avatar
    [isCurrentUserProfileOwner]="isCurrentUserProfileOwner"
    [user]="userInfo"
  />
  <h2 class="profile-sidebar-username">{{ userInfo.username }}</h2>
  <p class="profile-sidebar-badge">Badge</p>
  <p class="profile-sidebar-join-date">
    <lucide-icon [img]="CalendarIcon" class="size-5 profile-sidebar-icon" />
    Joined {{ userInfo.createdAt | date: "MMM d, y" }}
  </p>
</div>

@let statistics = userAnimeListStatistics();
<div class="anime-stats">
  <div class="anime-stats-item">
    <div class="anime-stats-count">
      {{ statistics?.viewed }}
    </div>
    <div class="anime-stats-label">Completed</div>
  </div>
  <div class="anime-stats-item">
    <div class="anime-stats-count">
      {{ statistics?.watching }}
    </div>
    <div class="anime-stats-label">Watching</div>
  </div>
  <div class="anime-stats-item">
    <div class="anime-stats-count">
      {{ statistics?.postponed }}
    </div>
    <div class="anime-stats-label">Plan to Watch</div>
  </div>
  <div class="anime-stats-item">
    <div class="anime-stats-count">
      {{ statistics?.abandoned }}
    </div>
    <div class="anime-stats-label">Dropped</div>
  </div>
</div>

<div class="favorite-genres">
  <h3 class="favorite-genres-title">Favorite Genres</h3>
  <div class="favorite-genres-list"></div>
</div>

<div class="user-bio">
  <h3 class="user-bio-title">Bio</h3>
  <p class="user-bio-content">
    {{ userInfo.about || "Empty" }}
  </p>
</div>

@if (isCurrentUserProfileOwner) {
  <button class="profile-sidebar-edit-button">
    <lucide-icon [img]="UserPenIcon" class="profile-sidebar-edit-icon" />
    Edit Profile
  </button>
}
