<div
  (click)="toggleCollapse()"
  (keydown.enter)="toggleCollapse()"
  tabindex="0"
  role="button"
  class="filter-header"
>
  <h3 class="filter-title">
    {{ filterData().title }}
  </h3>
  <lucide-icon class="chevron-icon" [img]="chevronIcon()" />
</div>
@if (isExpanded()) {
  <div class="filter-values">
    @for (option of filterData().options; track $index) {
      <button
        class="genreItem"
        (click)="toggleValue(option.value)"
        [class.genreItemSelected]="selectedValues().has(option.value)"
        matRipple
      >
        {{ option.title }}
      </button>
    }
  </div>
}
