@let animeFilterData = filterData();
<label class="select-label" [for]="animeFilterData.title">
  {{ animeFilterData.title }}
</label>
<div class="select-field">
  <select
    [id]="animeFilterData.title"
    [(ngModel)]="selectedValue"
    (ngModelChange)="onSelectionChange($event)"
  >
    <option value="" selected>{{ placeholder() }}</option>
    @for (option of animeFilterData.options; track $index) {
      <option [value]="option.value">
        {{ option.title }}
      </option>
    }
  </select>
</div>
