<div class="anime-search-filters">
  <app-filter-block
    [singleSelects]="filterSingleSelects()"
    [multipleSelects]="filterMultipleSelects()"
    (filtersApplied)="onFiltersChanged($event)"
  />
</div>

@let animeListStoreData = animeListStore.data();

@if (showPagination()) {
  <div class="anime-search-pagination">
    <app-pagination
      [currentPage]="animeListStoreData?.page || 1"
      [lastPage]="animeListStoreData?.totalPages || 1"
      (paginationApplied)="onPageChange($event)"
    />
  </div>
}

<div class="anime-search-results">
  <anime-grid
    [animeListResponse]="animeListStoreData"
    [isLoading]="animeListStore.isLoading()"
  />
</div>

@if (showPagination()) {
  <div class="anime-search-pagination">
    <app-pagination
      [currentPage]="animeListStoreData?.page || 1"
      [lastPage]="animeListStoreData?.totalPages || 1"
      (paginationApplied)="onPageChange($event)"
    />
  </div>
}
