@let animeItem = anime();
<div class="carousel-item-image-container">
  <img
    [src]="animeItem.posters.medium"
    fallback="assets/images/no-poster.png"
    [alt]="animeItem.title"
    class="carousel-item-image"
    [routerLink]="['/anime', animeItem.id]"
  />
  @if (animeItem.score) {
    <div class="carousel-item-rating">
      <lucide-icon
        [img]="StarIcon"
        [size]="15"
        class="fill-white carousel-item-star-icon"
      />
      <span>{{ animeItem.score }}</span>
    </div>
  }
</div>
<div class="carousel-item-info">
  <h3 class="carousel-item-title">{{ animeItem.title }}</h3>
</div>
